@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000;
  background: linear-gradient(to bottom,
      transparent,
      #fff) #D6DBDC;
}

.input-field {
  height: 40px;
}

.input-field,
textarea {
  padding: 10px;
  margin: 10px 0 5px;
  border-width: 2px;
  border-radius: 5px;
}

.form-button {
  @apply py-[10px] px-[20px] border border-cyan-950 rounded-lg transition-all md:hover:bg-cyan-950 md:hover:text-white;
}

.error {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: #ff0000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
